
* { 
	border: 1px solid rgba(0, 0, 0, 0.3);
}


body {
	background: #fff7ef;
	/* Old browsers */
	background: -moz-linear-gradient(45deg, #f7f7f7 0%, #fff7ef 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #f7f7f7 0%, #fff7ef 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #f7f7f7 0%, #fff7ef 100%);
}

.main-container {
	overflow: hidden;
}
.main-container div {
	display: inline-block;
}
#input-container {
	float: left;
	width: 280px;
}

#chart-container {
	float: right;
}

#input-main {
	display: block;
}

.header {
	background-color: rgba(255, 255, 255, 0.9);
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	list-style-type: none;
	margin: 0px 0px;
	padding: 0;
	overflow: hidden;
}

.header div a {
	color: #000;
	border: 1px solid #fff;
	border-radius: 4px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 7px 8px;
	text-decoration: none;
	display: inline-block;
}

.header div p {
	color: #000;
	border: 1px solid #fff;
	border-radius: 4px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 7px 8px;
	text-decoration: none;
	display: inline-block;
	margin: 0;
}

.header div {
	float: left;
}

.header div a:hover {
	background-color: #05A8AA;
	border: 1px solid #05A8AA;
	color: #FFF;
}

.header div p:hover {
	background-color: #05A8AA;
	border: 1px solid #05A8AA;
	color: #FFF;
}
.align-right-container {
	float: right;
}

#wrapper h1 {
	font-family: 'Roboto', sans-serif;
	color: #41292C;
  font-size: 48px;
  line-height: 32px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
}

/** List style **/

#input_main h2 {
  color: #E4BB97;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

ul {
}

li {
}

#input_main p {
  color: #444444;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 100;
}

a {
}



#loadcontainer #loadcodecontainer #loadmessage {
	display: block;
}

#canvas {
	position: absolute;
	width: 100%;
	background-color: white;
	top: 40px;
	left: 0px;
	max-width: 1000px;
}

#guide_canvas {
	position: absolute;
	width: 100%;
	top: 40px;
	left: 0px;
	max-width: 1000px;
}

#wrapper {
	float: right;
	position: relative;
}

#code {
	text-align: center;
	font-family: monospace;
}

#loadcode {
	font-family: monospace;
}

#help {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
}

#helpcontents {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-color: white;
	height: 95%;
	overflow-y: scroll;
}


#close {
	display: block !important;
}

.title {
	margin: 0;
}


.disabled {
	color: gray;
}

.help {
	color: #090;
	display: none;
}

.hidden {
	display: none;
}

@media print{
	@page {size: landscape}
	#wrapper {width: 100%; margin-top: 0.1in;}
	.noprint { display: none }
	.title { margin-bottom: 0.2in; }
	#canvas: display: block !important;
}
